.form__text {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form__text-header {
	font-size: 2.4rem;
	font-weight: 500;
}

.form__input-text {
	font-size: 2rem;
	height: 4rem;
	border: solid 2px black;
	border-radius: 4px;
	padding-left: 0.2rem;
}

.form__input-text--invalid {
	border: solid 2px red;
	border-radius: 4px;
}